<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<meta charset="utf-8" />
    	<title>Recipeers</title>
    	<link href="../css/reset.css" rel ="stylesheet"/>
	<link href="../css/header.css" rel="stylesheet" />
	    
</head>

<body>

	<div id="header-body">
		
		<div id="logo"></div>
		
		<div id="menus">

			<div id="introduction"><a href="introduction.html">WHAT'S RECIPEERS?</a></div>
			
		</div>

		<div id="login-icons">
			<div class="login-icon" id="login-twitter"></div>
			<div class="login-icon" id="login-google" onclick="window.location.href='http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com:8080/auth/google'"></div>
			<div class="login-icon" id="login-facebook"></div>
		</div>
	</div>
	
</body>

</html>