
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<meta charset="utf-8" />
    	<title>Recipeers</title>
		
    	<!-- Recipeers_View 参照 -->
	<link href="../css/reset.css" rel="stylesheet" />
	<!--<link href="./css/header.css" rel="stylesheet"/>-->
	<link href="../css/introduction.css" rel="stylesheet" />
	
	</script>
	    
</head>

<body>

	<div id="main">
	    		
    		<div id="contents">
			<div id="message-box">WHAT'S RECIPEERS?</div>
			<div id="introduction">
				<canvas id="circle" width="26px" height="26px"></canvas>
				<hr color="red">
				<div id="intro-title">RECIPEERSとは</div>
				<div id="intro-body">
					みんなで知識を出し合って，新しいレシピを生み出すお手伝いをするサイトです．<br><br>
					今日の夕飯はどうしよう．一人で考えていてもいいレシピが浮かばない．<br><br>
					そんなときにみんなで協力してアイデアを出し合うお手伝いをします．<br><br>

					パーティーなどで，罰ゲームレシピを作るもよし，プロの料理人の知識を結集した，最高のレシピづくりを目指すもよし，RECIPEERSでは，様々なユーザに料理をを考える楽しみを提供します．<br><br>

					また，アイデアが競合したときのための投票システムや，リアルタイムに栄養価を可視化する栄養グラフなどのユニークなツールで，複数人での作業を
					サポートします．<br><br>

					また，決められた栄養価に合わせたレシピを考案するミッション形式のイベントも随時開催する予定ですので，ぜひチャレンジしてみてください!
				</div>
				
			</div>
		</div>

    	</div>

</body>

</html>
