<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<meta charset="utf-8" />
    	<title>WHAT'S RECIPEERS</title>
		
    	<!-- Recipeers_View 参照 -->
	<link href="../css/reset.css" rel="stylesheet" />
	<link href="../css/header.css" rel="stylesheet"/>
	<link href="../css/what-recipeers.css" rel="stylesheet"/>
	<link href="../css/footer.css" rel="stylesheet"/>
	    
</head>


<body>
    
	<!-- 上部のheader -->
    	<div id="header">
		
		<a href="../index.html"><div id="logo" ></div></a>
		
		<div id="menus">
			<div id="introduction"><a href="./what-recipeers.html">WHAT'S RECIPEERS?</a></div>	
		</div>
		

		<div id="login-icons">
			<a href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com:8080/auth/twitter"><div class="login-icon" id="login-twitter"></div></a>
			<a href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com:8080/auth/google"><div class="login-icon" id="login-google"></div></a>
			<a href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com:8080/auth/facebook"><div class="login-icon" id="login-facebook"></div></a>
		</div>
		<span id="login-message">Login<div id="login-triangle"></div></span>
	</div>

     	<div id="main">
   		<object id="intro-object" data="./introduction.html" type="text/html" width="100%" height="900px"></object>
    	</div>
    	<div id="footer"></div>
</body>
</html>