@charset "utf-8";

$footer-background-url:"../images/header/backgrounds/wood-texture.jpg";



#footer{
	width: 100%;
	height: 125px;
	min-width: 1280px;
	background-image: url($footer-background-url);
	background-size: 100% 100%;
}
