
@charset "utf-8";

$background-url: "../images/home3/background/home.jpg";
$font-url: "../images/home3/font/NexaRustSlab01.otf";


@font-face {
	font-family: 'NexaRustSlab';
	src: url($font-url);
}

body {
}

#main {
	width: 100%;
	height: 100%;

	#contents {
		
		position: relative;
		top: 0px;
		width: 100%;
		height: 835px;
		min-width: 1500px;
		margin: 0px;
		border: none;
		background-image: url($background-url);
		background-size: 100% 100%;

		#message-box {
			position: relative;
			padding: 10px;
			width: 780px;
			height: 250px;
			top: 430px;
			left: 125px;
			font-style: NexaRustSlab;
			font-size: 5.5em;
		}
	}
}



