
@charset "utf-8";

$background-url: '../images/room/background/wood-texture.jpg';
$board-url: '../images/room/background/board.jpg';
$min-width: 1400px;



#recipe-main {
	top: 120px;
	position: relative;
	width: 100%;
	height: 100%;
	min-width: $min-width;
	margin: 0px auto;
	border: none;
	padding: 0px;
	background-image: url($background-url);
	background-size: 100% 100%;
	
	#back-link {
		position: relative;
		font-size: 2em;
		right: 0px;
	}

	#board {
		width: 70%;
		height: 100%;
		min-width: $min-width;
		background-image: url($board-url);
		background-size: 100% 100%;
		margin: 40px auto;
		padding: 110px 70px;

		.container {
			text-align: center;
		}

		.button-edit {
			width: 100px;
			height: 40px;
			background-color: #0AC6FF;
			border: none;
			color: #FFFFFF;
			font-size: 1.2em;
		}

		.button-remove {
			@extend .button-edit;
			background-color: #D91400;
		}
		
		.button-add {
			@extend .button-edit;
			background-color: #E99C00;
		}

		.button-submit {
			@extend .button-edit;
			background-color: #4BE900;
			float: left;
			margin-right: 15px;
		}

		.button-insert {
			@extend .button-edit;
			background-color: #D112FE;
		}

		#ingredient {
			position: relative;
			width: 46%;
			height: 400px;
			margin: 0px;
			margin-bottom: 20px;
			padding: 15px;
			background-color: rgba(255, 255, 255, 1);
			box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);
			left: 0px;
			float: left;
	

			#ingredient-title {
				text-align: center;
				width: 100%;
				font-size: 2em;
			}
			
			#ingredient-list {

				overflow: auto;
				height: 300px;
				margin-top: -15px;

				.ingredient-entry {
					
					margin-bottom: 15px;

					.ingredient-name {
						font-size: 1.2em;
					}

					.ingredient-amout {

					}

					.ingredient-amout {

					}

					.ingredient-timestamp {

					}

					

				}
			}
			
				
		}
		
		#chart {
			@extend #ingredient;
			float: right;
			min-height: 400px;
			right: 0px;

			#chart-image {
				display: block;
				margin: 0px auto;
			}
		}
		
		#process {
			@extend #ingredient;
			width: 100%;
			height: 850px;
			padding: 15px 0px;

			#process-title {
				font-size: 2em;
				text-align: center;
			}

			#process-list {
				height: 740px;
				overflow: auto;

				.process-entry {
					margin-bottom: 15px;

					.process-index {

					}

					.process-description {
						font-size: 1.5em;
					}

					.process-sender {

					}

					.process-timestamp {

					}
				}
			}
		}

		#chat {
			@extend  #process;
			clear: both;
			position: relative;
			width: 100%;
			height: 550px;
			min-height: 400px;
			padding: 15px 0px;

			#chat-title{
				font-size: 2em;
				text-align: center;
			}

			#chat-list {
				height: 400px;
				overflow: auto;
			}

			#message-form {
				position: relative;
				top: 60px;
			}

			#message-box {
				width: 1270px;
				height: 38px;
				float: left;
			}

			#message-button{
				float: right;
			}
		}
	}

	.clearfix {
		clear: both;
	}
}



