<div ng-controller="ChatsController">
  <section>
    <p>Chat</p>
    <ol>
      <li ng-repeat="chat in chats | orderBy: chat.timestamp | reverse">
        <div>
          <p>{{chat.sender}}</p>
          <p>{{chat.message}}</p>
          <p>{{chat.timestamp | date:'yyyy/MM/dd HH:mm:ss Z' }}</p>
        </div>
      </li>
    </ol>
    <div>
        <form accept-charset="utf-8">
          <p>
            <input type="text" ng-model="formData.message" placeholder="message...">
          </p>
          <div ng-hide="!formData.message">
            <input type="submit" value="submit" ng-click="submitChat();">
          </div>
        </form>
      </div>
    </div>
  </section>
</div>