<div id="process" ng-controller="ProcessesController">
  <div ng-model='processesState'>
    <section>
      <p id="process-title">Recipe</p>
      <ol id="process-list">
        <li class="process-entry" ng-repeat="process in processesState.processes">
        <hr width="100%">
          <div>
            <input class="button-insert" type="button" value="insert" ng-click="processesState = showForm(processesState, 'insert', $index);" ng-hide="processesState.show.insert[$index] === 'show'">
            <div ng-hide="processesState.show.insert[$index] !== 'show'">
              <form accept-charset="utf-8">
                <p>
                  <input type="textarea" ng-model="processesState.formData.insert[$index].process" required>
                </p>
                <input class="button-submit" type="submit" value="submit" ng-click="processesState = submitProcess(processesState, 'insert', $index);">
              </form>
              <input class="button-remove" type="button" value="hide" ng-click="processesState.show.insert[$index] = '';">
            </div>
          </div>
          <div>
            <div ng-hide="processesState.show.edit[$index] === 'show'">
              <p class="process-index">{{$index + 1}}</p>
              <p class="process-description">{{process.process}}</p>
              <p class="process-sender">{{process.sender}}</p>
              <p class="process-timestamp">{{toD(process.timestamp) | date:'yyyy/MM/dd HH:mm:ss Z' }}</p>
              <input class="button-edit" type="button" value="edit" ng-click="processesState = showForm(processesState, 'edit', $index);">
              <input class="button-remove" type="button" value="remove" ng-click="processesState = submitProcess(processesState, 'remove',$index);">
            </div>
            <div ng-hide="processesState.show.edit[$index] !== 'show'">
              <form accept-charset="utf-8">
                <p>
                  <input type="textarea" ng-init="process.pricess" ng-model="processesState.formData.edit[$index].process" required>
                </p>
                <input class="button-submit" type="submit" value="submit" ng-click="processesState = submitProcess(processesState, 'edit', $index);processesState.show.edit[$index] = '';">
              </form>
              <input class="button-remove" type="button" value='cancel' ng-click="processesState.show.edit[$index] = '';">
            </div>
          </div>
        </li>
        <li>
          <div>
            <input class="button-add" type="button" value="add" ng-click="showAdd = 'show';" ng-hide="showAdd === 'show'">
            <div ng-hide="showAdd !== 'show'">
              <form accept-charset="utf-8">
                <p>
                  <input type="textarea" ng-model="processesState.formData.add.process" required>
                </p>
                <input class="button-submit" type="submit" value="submit" ng-click="processesState = submitProcess(processesState, 'add');showAdd = '';" ng-hide="!processesState.formData.add.process">
              </form>
              <input class="button-remove" type="button" value="hide" ng-click="processesState.showAdd = '';">
            </div>
          </div>
        </li>
      </ol>
    </section>
  </div>
</div>
