<div id="main" ng-controller="RecipeListController">
  <section>

    <div id="container">

      <div class="box">

        <p id="room-type">
          <span class="font-red">H</span><span class="font-yellow">Y</span><span class="font-green">P</span><span class="font-lightblue">E</span><span class="font-blue">R</span>
          <span class="font-red">E</span><span class="font-yellow">N</span><span class="font-green">J</span><span class="font-lightblue">O</span><span class="font-blue">Y</span>
        </p>

        <div id="button-container">
          <input id="room-create" type="button" value="部屋作成" ng-click="addShow = 'show';" ng-hide="addShow === 'show'">
        </div>

        <div id="search-message">
          <input id="room-search-box" type="text" ng-model="query" placeholder="You can narrow."><span>検索</span>
        </div>
      </div>

      <div id="modal-container">
        <div id="modal-window" ng-hide="addShow !== 'show'">
          <form accept-charset="utf-8">
            <div>
              <h3 id="modal-title">部屋作成</h3>
              <hr size="3">
              <p>
                <span class="label">タイトル</span>
                <input id="modal-title-box" type="text" ng-model="recipeListState.formData.title">
              </p>
              <p>
                <span class="label">説明</span>
                <textarea ng-model="recipeListState.formData.description" id="modal-description-area" rows="3"></textarea>
              </p>
              <p>
                <span class="label">人数の上限</span>
                <input type="number" ng-model="recipeListState.formData.limit">
              </p>
            </div>
            <div ng-hide=" (recipeListState.formData.title ==='') || (recipeListState.formData.description === '') || (recipeListState.formData.limit <= 0) ">
              <input id="modal-send" type="submit" value="送信" ng-click="recipeListState = submitRecipelist(recipeListState);addShow = '';" class="modal-button">
            </div>
            <input id="modal-cancel" type="button" value="キャンセル" ng-click="addShow = ''; " class="modal-button">
          </form>
        </div>
      </div>

      <div>
        <ul id="recipe-list">
          <li ng-repeat="(index, recipe) in recipeListState.recipelist | hasValue:query" class="card card{{recipe.rid % 5}}">
            <a ng-href="#/recipe/{{recipe.rid}}">
              <h2 class="r-title">{{recipe.title}}</h2>
              <p class="r-description">{{recipe.description}}</p>
              <div class="box">
                <p>{{recipe.userName}}</p>
                <p>People: {{recipe.members.length}}/{{recipe.limit}}</p>
              </div>
            </a>
          </li>

        </ul>
      </div>

    </div>
  </section>
</div>
