<div ng-controller="RecipeListController">
  <div ng-model='recipeListState'>
    <section>
      <p>RecipeList</p>
      <div>
        <input type="button" value="add" ng-click="addShow = 'show';" ng-hide="addShow === 'show'">
        <div ng-hide="addShow !== 'show'">
          <form accept-charset="utf-8">
            <p>
              <input type="text" ng-model="recipeListState.formData.title">
              <input type="textarea" ng-model="recipeListState.formData.description">
              <input type="number" ng-model="recipeListState.formData.limit">
            </p>
            <div ng-hide=" (recipeListState.formData.title ==='') || (recipeListState.formData.description === '') || (recipeListState.formData.description < 0) ">
              <input type="submit" value="submit" ng-click="recipeListState = submitRecipelist(recipeListState);addShow = '';">
            </div>
          </form>
          <input type="button" value="cancel" ng-click="addShow = ''; ">
        </div>
      </div>
      <div>
        <input type="text" ng-model="query" placeholder="You can narrow.">
        <ul>
          <li ng-repeat="(index, recipe) in recipeListState.recipelist | hasValue:query">
            <a ng-href="#/recipe/{{recipe.rid}}">
              <h2>{{recipe.title}}</h2>
              <p>{{recipe.description}}</p>
              <p>{{recipe.userName}}</p>
              <p>{{recipe.limit}}</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
