<div>
  <div>
    <a href="#/">Back</a>
  </div>
  <ng-include src="'http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/view/ingredients.html'"></ng-include>
  <ng-include src="'http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/view/chart.html'"></ng-include>
  <ng-include src="'http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/view/processes.html'"></ng-include>
  <ng-include src="'http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/view/chats.html'"></ng-include>
</div>
