<!DOCTYPE html>
<html ng-app="recipeers.header">

<head>
	<meta http-equiv="Content-Type" content="text/html"/>
	<meta charset="utf-8"/>
	<title>Recipeers</title>
	
	<link href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/css/reset.css" rel="stylesheet" />
	<link href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/css/header-loggedin.css" rel="stylesheet" />
	<link href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/css/introduction.css" rel="stylesheet" />
	<link href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/css/footer.css" rel="stylesheet" />

	<script src="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/bower_components/angular/angular.js" type="text/javascript"></script>
	<script src="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/bower_components/angular-cookies/angular-cookies.js" type="text/javascript"></script>
	<script src="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/js/modules/module.js" type="text/javascript"></script>
	<script src="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public/js/controllers/header-controller.js" type="text/javascript"></script>
</head>

<body>
	
	<!-- 上部のヘッダ -->
	<div id="header" ng-controller="headerController">

		<a href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com/recipeers/public">
			<div id="logo"></div>
		</a>

		<div id="menus">

			<div class="menu-links">
				<a href=".">WHAT'S RECIPEERS</a>
			</div>
				
			<div class="menu-links">
				<a href="/roomselect/login">SELECT ROOM</a>
			</div>

		</div>	

		<div id="login-info">
			<div id="login-username" ng-bind="username"></div>
			<div id="logout">
				<a href="http://ec2-54-64-199-130.ap-northeast-1.compute.amazonaws.com:8080/logout">Logout</a>
			</div>
		</div>
	</div>

	<div id="main">
	    		
		<div id="contents">
				
			<div id="message-box">WHAT'S RECIPEERS?</div>
	
			<div id="introduction">
				<hr color="red">
				<div id="intro-title">RECIPEERSとは</div>
				<div id="intro-body">
					みんなで知識を出し合って，新しいレシピを生み出すお手伝いをするサイトです．<br><br>
					今日の夕飯はどうしよう．一人で考えていてもいいレシピが浮かばない．<br><br>
					そんなときにみんなで協力してアイデアを出し合うお手伝いをします．<br><br>

					パーティーなどで，罰ゲームレシピを作るもよし，プロの料理人の知識を結集した，最高のレシピづくりを目指すもよし，RECIPEERSでは，様々なユーザに料理をを考える楽しみを提供します．<br><br>

					また，アイデアが競合したときのための投票システムや，リアルタイムに栄養価を可視化する栄養グラフなどのユニークなツールで，複数人での作業を
					サポートします．<br><br>

					また，決められた栄養価に合わせたレシピを考案するミッション形式のイベントも随時開催する予定ですので，ぜひチャレンジしてみてください!
				</div>
			</div>
			
		</div>

    	</div>
		
	<!-- <div id="footer"></div> -->	

</body>


</html>